# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\JavaProject\individual\application\study-springboot\.idea/dataSources/
/dataSources.local.xml
